$primary: #2715ff;
$primaryDark: #1D10BF;
$primaryLighter: #6689FF;
$textDefault: #353D50;
$accent2Dark: #2FBF2C;
$dark: #1d1671;
$blue: #003bff;
$lightBlue: #bfbbdb;
$darkBlue: #6e22ff;
$secondary: #DEFF00;
$secondaryLight: rgba(222,255,0, 0.3);
$secondaryDark: #b6d700;
$light: #00e5ff;
$violet: #ff0bd0;
$violetDark: #e10bb2;
$lightBackground: #e7e4f8;
$lighterBackground: #e7e6ee;
$lightestBackground: #ecf0ff;
//$darkBackground: #002DFF;
$darkBackground: #24272c;
$textDark: #242E42;
$secondaryLightBackground: #1035AA;
$secondaryDarkBlue: #173384;
$whiteLight: #fdfdfd;
$grey: #707784;
$lightGray: #E3E4E6;
$orange: #F4BC03;
$textLightest: #C8CACF;
$textLightest2: #E3E4E6;
$textLight: #707784;
$statusWarning: #F4B63C;

$backgroundLigther: #F8F9FF;
$backgroundLightGray: #EEF0F3;
$accentDark: #EFBB00;

$facebook: #0052FF;
$youtube: #D90700;
$twitter: #24B7FF;
$instagram: #D52D88;
$spotify: #1DB954;
$spotifyDark: #15843C;

$RalewayThin: "RalewayThin";
$RalewayRegular: "RalewayRegular";
$RalewayMedium: "RalewayMedium";
$RalewayBold: "RalewayBold";
$RalewayBlack: "RalewayBlack";
$RobotoThin: "RobotoThin";
$RobotoRegular: "RobotoRegular";
$RobotoMedium: "RobotoMedium";
$RobotoBold: "RobotoBold";
$RobotoBlack: "RobotoBlack";
$main-font: "RobotoRegular";

$thin: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;
